.App {
  text-align: center;
  max-width: 500px;
  margin: 100px auto;
}

.row {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.row button {
  width: 200px;
  height: 150px;
  border: 2px solid white;
  font-size: 110px;
  color: white;
  background-color: black;
  cursor: pointer;
}

.result {
  color: black;
  max-width: 500px;
  margin: 0 auto;
  padding: 0 0 10px 0;
}

.result button {
  margin: 0 0 0 150px;
  border: 1px solid black;
  border-radius: 9px;
  width: 200px;
  height: 40px;
  font-family: Georgia, "Times New Roman", Times, serif;
  cursor: pointer;
}
